@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
    body{
    
        font-family: 'Poppins', sans-serif;
    }
*{
    margin: 0;
    padding: 0;
}

footer ul{
    list-style: none;
}
footer a{
    font-size: 20px;
    color: grey;
    text-decoration: none;
    transition: all 0.5s ease;
}
footer a:hover{
    color: white;
    padding-left:10px ;
}
#follow { 
    display: inline;
    display: flex;
}
#follow a i{
    margin: 15px;
}
